@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
main{
    z-index: 99999;
    position: relative;
}
body {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    position: relative;
    overflow-x: hidden;
    background-color: #EFEAE3;
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by most browsers */
  }
  
  /* Prevent text selection for specific elements */
  .no-select {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by most browsers */
  }
#page1,#page2,#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#left-nav{
    padding: 2vw;
}
#right-nav{
    padding-right: 3vw;
    display: flex;
    gap: 1vw;
}
#right-nav h2 p{
    z-index: 999;
    position: relative;
}
#right-nav h2{
    font-size: 1vw;
    font-weight: 400;
    text-transform: capitalize;
    border: 1px solid #bababa;
    border-radius: 30px;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
    cursor: pointer;
}
#right-nav h2::after {
    content: "";
    transition: all ease 0.3s;
    position: absolute;
    width: 100%; 
    left: 0; 
    bottom: -100%; 
    height: 100%; 
    border-radius: 50%;
}

#right-nav h2:hover::after {
    bottom: 0; 
    border-radius: 0;
}
#right-nav h2:hover p{
    color: white;
    z-index: 99;
}
#page1-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    align-items: end;
}
#left-page1{
    font-weight: 700;
    padding: 3vw 2vw;
    line-height: 2vw;
    font-size: 1.6vw;
}
#right-page1{
    padding: 3vw;
    line-height: 8vw;
}
#right-page1 h1{
    text-align: right;
    font-size: 10vw;
}
.line{
    width: 95%;
    height: 1px;
    background-color: #bababa;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.big-line{
    width: 100vw;
    height: 1px;
    background-color: #bababa;
}
.gooey{
    background: linear-gradient(208deg, rgba(254,98,28,1) 0%, rgba(254,51,10,1) 100%);
    border-radius: 50%;
    position: absolute;
    filter: blur(30px);
}
#gooey1{
    right: -12%;
    top: -14%;
    width: 50vw;
    animation: anime1 2s linear infinite alternate;
    height: 40vw;
    transform: translateZ(-45px);
}
#gooey2{
    right: 10%;
    top: -8%;
    width: 40vw;
    height: 40vw;
    background-color: #FE330A;
    position: absolute;
    z-index: 8;
    animation: anime2 3s linear infinite alternate;
}
#gooey3{
    right: 5%;
    width: 40vw;
    height: 40vw;
    background-color: #FE330A;
    position: absolute;
    z-index: 8;
    top: 0%;
}
#video{
    width: 95%;
    position: absolute;
    left:50%;
    border-radius: 20px;
    z-index: 9999;
    transform: translateX(-50%);
    top: 8%;
}
.marquee-container h2{
    font-size: 9vw;
    text-transform: uppercase;
}
.marquee-container{
    display:flex;
    gap: 2vw;
    align-items: center;
    animation: anime3 15s linear infinite forwards;
}
.marquee-icon{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #FE330A;
}
#marquee{
    display: flex;
    overflow: hidden;
    gap: 2vw;
    margin: 15vw 0;
}
#page3{
    display: flex;
}
#left-page3{
    width: 70%;
    padding: 5vw;
}
#left-page3 h2{
    font-size: 4vw;
    line-height: 4.7vw;
    letter-spacing: -4px;
    position: relative;
    z-index: 9999;
    font-weight: 600;
}
#right-page3{
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
#right-page3 img{
    width: 70%;
    border-radius: 15px;
}
#right-page3 p{
    font-weight: 300;
    width: 70%;
}
#gooey4{
    width: 35vw;
    height: 35vw;
    position: absolute;
    filter: blur(10px);
    background-color: #FE330A;
    border-radius: 50%;
    left: 27%;
    background: linear-gradient(208deg, #FE621C 0%, rgba(254,51,10,1) 100%);
    z-index: 2;
    bottom: 3%;
    animation: anime4 2s ease-in-out infinite alternate;
}
#gooey5{
    width: 35vw;
    height: 35vw;
    position: absolute;
    background-color: #FE330A;
    border-radius: 50%;
    z-index: 1;
    filter: blur(60px);
    left: 25%;
    bottom: 0;
    animation: anime4 2s ease-in-out infinite alternate;
}
#page4{
    width: 100vw;
    min-height: 100vh;
    position: relative;
}
#heading-page4{
    gap: 5px;
    align-items: center;
    display: flex;
    padding-left: 2vw;
}
#heading-page4 h2{
    text-transform: uppercase;
    font-size: 1vw;

    font-weight: 300;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: #FE330A;
    border-radius: 50%;
}
.divs{
    text-transform: capitalize;
    margin: auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.divs::after{
    content: "";
    transition: all ease 0.3s;
    background-color: #FF9831; 
    width: 100%; 
    height: 100%; 
    top: -100%;
    position: absolute;
    overflow: auto;

}
.divs:hover::after{
    top:0;
}
.divs:hover p{
    position: relative;
    z-index: 9999;
}
.divs h2{
    padding: 1vw 2vw 1vw 2vw;
    font-size: 3.5vw;
    font-weight: 600;
}
#imgs{
    width: 25%;
    border-radius: 20px;
    height: 70vh;
    cursor: pointer;
    top: 50%;
    left: 50%;
    position: absolute;
    object-fit: contain;
    z-index: 1;
    object-position: center;
    transform: translateY(-50%);
}
#page5-heading{
    position: absolute;
    top: 15%;
    left: 7%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#page5-heading h2{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
}

.swiper {
    width: 100%;
    height: 35%;
}
.swiper-slide {
    border-left: 1px solid #dadada;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
}

.swiper-slide p {
    width: 60%;
}
#page5{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 8vw;
    z-index: 999999;
}
#scroll-cursor{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all ease 0.2s;
    z-index: 999;
    background-color: #FE330A;
    border-radius: 50%;
    justify-content: center;
    font-size: 1.4vw;
    scale: 0;
    align-items: center;
    display: flex;
    gap: 10px;
    color: white;
}
#page6 {
    width: 100vw;
    height: 100vh;
    background-color: black ;
    position: relative;
    z-index: 1;
}
#gooey6{
    rotate: 165deg;
    width: 45vw;
    background-color: #FF320C;
    height: 30vh;
    left: -15%;
    top: 13%;
    position: absolute;
    filter: blur(10px);
}
#gooey8{
    rotate: 25deg;
    width: 45vw;
    background-color: #FF320C;
    height: 30vh;
    right: -13%;
    top: 20%;
    z-index: 10;
    position: absolute;
    filter: blur(10px);
}
#gooey7{
    width: 150vw;
    left: -10%;
    height: 30vh;
    position: absolute;
    background-color: #FF320C;
    filter: blur(10px);
}
footer{
    display: flex;
    z-index: 9999;
    position: relative;
    color: white;
    flex-direction: column;
}
#top-footer{
    display: flex;
    padding: 5vw;
    justify-content: space-between;
}
#center-footer{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
#center-footer h2{
    font-size: 20vw;
    z-index: 9;
    position: relative;
    line-height: 18vw;
}
#bottom-footer{
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: space-between;
}
#bottom-footer h4{
    margin: auto;
    font-size: 1vw;
    text-transform: capitalize;
    font-weight: 400;
}



















@keyframes anime1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-45deg);
    }
}
@keyframes anime2 {
    from{
        transform: rotate(0deg) translate(10%,5%);
    }
    to{
        transform: rotate(45deg) translate(0%,1%);
    }
}
@keyframes anime3 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes anime4 {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(10%,-8%);
    }
}
